In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
kidney=pd.read_csv("kidney_disease.csv")
kidney.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [ ]:
# Information about the dataset
kidney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [ ]:
kidney.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,199.500000,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,299.250000,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

In [ ]:
kidney.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [ ]:
kidney['age'].fillna(kidney['age'].mean(),inplace=True)
kidney['bp'].fillna(kidney['bp'].mean(),inplace=True)
kidney['sg'].fillna(kidney['sg'].mean(),inplace=True)
kidney['al'].fillna(kidney['al'].mean(),inplace=True)
kidney['su'].fillna(kidney['su'].mean(),inplace=True)
kidney['rbc'].fillna(kidney['rbc'].mode()[0],inplace=True)
kidney['pc'].fillna(kidney['pc'].mode()[0],inplace=True)
kidney['pcc'].fillna(kidney['pcc'].mode()[0],inplace=True)
kidney['ba'].fillna(kidney['ba'].mode()[0],inplace=True)
kidney['bgr'].fillna(kidney['bgr'].mean(),inplace=True)
kidney['bu'].fillna(kidney['bu'].mean(),inplace=True)
kidney['sc'].fillna(kidney['sc'].mean(),inplace=True)
kidney['sod'].fillna(kidney['sod'].mean(),inplace=True)
kidney['pot'].fillna(kidney['pot'].mean(),inplace=True)
kidney['hemo'].fillna(kidney['hemo'].mean(),inplace=True)

kidney['htn'].fillna(kidney['htn'].mode()[0],inplace=True)
kidney['dm'].fillna(kidney['dm'].mode()[0],inplace=True)
kidney['cad'].fillna(kidney['cad'].mode()[0],inplace=True)
kidney['appet'].fillna(kidney['appet'].mode()[0],inplace=True)
kidney['pe'].fillna(kidney['pe'].mode()[0],inplace=True)
kidney['ane'].fillna(kidney['ane'].mode()[0],inplace=True)

In [ ]:
le=LabelEncoder()
kidney['pcv']=le.fit_transform(kidney['pcv'])
kidney['wc']=le.fit_transform(kidney['wc'])
kidney['rc']=le.fit_transform(kidney['rc'])

In [ ]:
kidney['pcv'].fillna(kidney['pcv'].mean(),inplace=True)
kidney['wc'].fillna(kidney['wc'].mean(),inplace=True)
kidney['rc'].fillna(kidney['rc'].mean(),inplace=True)

In [ ]:
kidney.isnull().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [ ]:
kidney['bgr']

0      121.000000
1      148.036517
2      423.000000
3      117.000000
4      106.000000
          ...
395    140.000000
396     75.000000
397    100.000000
398    114.000000
399    131.000000
Name: bgr, Length: 400, dtype: float64

In [ ]:
kidney.head(10)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.000000,1.020,1.0,0.0,normal,normal,notpresent,notpresent,...,32,72,34,yes,yes,no,good,no,no,ckd
1,1,7.0,50.000000,1.020,4.0,0.0,normal,normal,notpresent,notpresent,...,26,56,49,no,no,no,good,no,no,ckd
2,2,62.0,80.000000,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,19,70,49,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.000000,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,20,62,19,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.000000,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,23,68,27,no,no,no,good,no,no,ckd
5,5,60.0,90.000000,1.015,3.0,0.0,normal,normal,notpresent,notpresent,...,27,72,25,yes,yes,no,good,yes,no,ckd
6,6,68.0,70.000000,1.010,0.0,0.0,normal,normal,notpresent,notpresent,...,24,92,49,no,no,no,good,no,no,ckd
7,7,24.0,76.469072,1.015,2.0,4.0,normal,abnormal,notpresent,notpresent,...,32,64,31,no,yes,no,good,yes,no,ckd
8,8,52.0,100.000000,1.015,3.0,0.0,normal,abnormal,present,notpresent,...,21,88,21,yes,yes,no,good,no,yes,ckd
9,9,53.0,90.000000,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,...,17,18,17,yes,yes,no,poor,no,yes,ckd

In [ ]:
# Performing Label Encoder
d=dict(kidney.dtypes)
cols=[]
for i in d:
  if(d[i]=="object"):
    cols.append(i)
for i in cols:
  kidney[i]=le.fit_transform(kidney[i])

In [ ]:
kidney.head(10)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.000000,1.020,1.0,0.0,1,1,0,0,...,32,72,34,1,4,1,0,0,0,0
1,1,7.0,50.000000,1.020,4.0,0.0,1,1,0,0,...,26,56,49,0,3,1,0,0,0,0
2,2,62.0,80.000000,1.010,2.0,3.0,1,1,0,0,...,19,70,49,0,4,1,1,0,1,0
3,3,48.0,70.000000,1.005,4.0,0.0,1,0,1,0,...,20,62,19,1,3,1,1,1,1,0
4,4,51.0,80.000000,1.010,2.0,0.0,1,1,0,0,...,23,68,27,0,3,1,0,0,0,0
5,5,60.0,90.000000,1.015,3.0,0.0,1,1,0,0,...,27,72,25,1,4,1,0,1,0,0
6,6,68.0,70.000000,1.010,0.0,0.0,1,1,0,0,...,24,92,49,0,3,1,0,0,0,0
7,7,24.0,76.469072,1.015,2.0,4.0,1,0,0,0,...,32,64,31,0,4,1,0,1,0,0
8,8,52.0,100.000000,1.015,3.0,0.0,1,0,1,0,...,21,88,21,1,4,1,0,0,1,0
9,9,53.0,90.000000,1.020,2.0,0.0,0,0,1,0,...,17,18,17,1,4,1,1,0,1,0

In [ ]:
# Train=70
# Test=30

x=kidney.drop(columns=['classification','id'])
y=kidney['classification']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30)

In [ ]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model=LogisticRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print("Accuracy is {}".format(accuracy_score(y_test,y_pred)*100))

Accuracy is 98.33333333333333

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [ ]:
# Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
model1=RandomForestClassifier()
model1.fit(x_train,y_train)
y_pred=model1.predict(x_test)
print("Accuracy is {}".format(accuracy_score(y_test,y_pred)*100))

Accuracy is 100.0

In [ ]:
# K-Neighbour Classifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
model=KNeighborsClassifier()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print("Accuracy is {}".format(accuracy_score(y_test,y_pred)*100))

Accuracy is 94.16666666666667

In [ ]:
# Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
model=DecisionTreeClassifier()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print("Accuracy is {}".format(accuracy_score(y_test,y_pred)*100))

Accuracy is 94.16666666666667

In [ ]:
# Support Vector Machine 
from sklearn.svm import SVC 
from sklearn.metrics import accuracy_score
model=SVC(kernel="linear")
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print("Accuracy is {}".format(accuracy_score(y_test,y_pred)*100))

Accuracy is 96.66666666666667

In [ ]:
# Naive Bayes 
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
model=GaussianNB()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print("Accuracy is {}".format(accuracy_score(y_test,y_pred)*100))

Accuracy is 95.0

In [ ]:
import pickle
filename="kidney_disease_model.sav"
pickle.dump(model1,open(filename,"wb"))